.custom-background { background: linear-gradient(to bottom right, #9C27B0, #3F51B5) !important; }

button, 
a, 
.custom-text-color { color: #3F51B5; }

a:hover, 
a:focus,
a:active { color: #9C27B0; }

.social-icons-custom a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.social-icons-custom a:hover { background: linear-gradient(to bottom right, #9C27B0, #3F51B5) !important; }

.dev-icons-custom {
  font-size: 3rem;
}

.dev-icons-custom .list-inline-item i:hover {
  color: #9C27B0;
}

.container-fluid { background: #000; }

