body { font-family: 'Raleway', sans-serif; }

/* .custom-background { background: linear-gradient(to bottom right, #9C27B0, #3F51B5) !important; } */
.custom-background { background: linear-gradient(to bottom right, #9C27B0, #3F51B5) !important; }

button, 
a, 
.custom-text-color { color: #3F51B5; }

a:hover, 
a:focus,
a:active { color: #9C27B0; }

.social-icons-custom a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.social-icons-custom a:hover { background: linear-gradient(to bottom right, #9C27B0, #3F51B5) !important; }


/*.social-icons-custom a {
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    width: 60px;
    height: 60px;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 8px;
}

.social-icons-custom a:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: linear-gradient(45deg, #9C27B0, #3F51B5);
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s ease-in;
}

.social-icons-custom a:hover::before { transform: scale(0); }
.social-icons-custom a i { transition: 0.3s ease-in; }

.social-icons-custom a:hover i  {
    background: linear-gradient(45deg, #9C27B0, #3F51B5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    transform: scale(2.2);
}
*/

.dev-icons-custom {
  font-size: 3rem;
}

.dev-icons-custom .list-inline-item i.fab:hover {
  color: #9C27B0;
}

/* .container-fluid { background: #000; } */

.resume-content.OnlineCourses .subheading.mb-3:hover {
  color: #3F51B5 !important;
  cursor: pointer;
}

.btn-custom {
  background: linear-gradient(to bottom right, #9C27B0, #3F51B5) !important;
  color: #fff;
  transition: .5s;
}

.btn-custom:hover {
  background-position: right;
  color: #fff;
}

/* .btn-outline-custom-dark {}
.btn-outline-custom-dark:hover {} */
.btn-outline-custom-light {
  background: transparent;
  border: 2px solid rgba(255,255,255,.5);
  outline: none;
}
.btn-outline-custom-light:hover {
  border: 2px solid #fff;
  outline: none;
}

.card-custom {
  /* background: #343a40; */
  position: relative;
  display: flex;
}

/* .card-custom h5 { color: #ccc;} */

.card-custom:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
}

.card-custom:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -2;
  filter: blur(40px);
}

.card-custom:before,
.card-custom:after {
  background: lienar-gradient(235deg, #8e44ad, #2980b9, #00bcd4);
}

.contact-section { padding: 80px 0; text-align: center; }
.contact-section .inner-width { max-width: 100%; margin: auto; padding: 0 20px; }

.contact-section .inner-width textarea { resize: none; }

.contact-section .inner-width .input-custom {
  background: none;
  border: none;
  outline: none;
  border-bottom: 2px solid #343a40;
  color: #495057;
  font-weight: 600;
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 40px;
}

.contact-section .inner-width .input-custom:nth-child(1) {
  float: left;
  width: 28%;
}
.contact-section .inner-width .input-custom:nth-child(2) {
  width: 28%;
}
.contact-section .inner-width .input-custom:nth-child(3) {
  float: right;
  width: 28%;
}
.contact-section .inner-width .input-custom:nth-child(4) {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .contact-section .inner-width .input-custom:nth-child(1),
  .contact-section .inner-width .input-custom:nth-child(2),
  .contact-section .inner-width .input-custom:nth-child(3) { width: 100%; }
}

/*************************************/

.socialbtns a { margin-right: 10px; }

/* div.container-fluid.p-0 {
  margin-left: 25px !important;
} */