body { 
    /* background-image: linear-gradient(to bottom right, #fff , #6b6bf1);  */
    background-color: #f3f3f3;
    padding-top: 15px;
}

div.card.text-bg-dark img.card-img {
    opacity: 0.5;
}

.card-img-top {
    width: 130px;
    border: 1px solid;
    border-radius: 17px;
    background: white;
}

img.home_image {
    width: 200px;
    height: auto;
    border-radius: 100px !important;
}

a.coownerLink {
    text-decoration: none;
    font-weight: 500;
}

ul.custom-list { list-style: none; }