html {
    background: #f5f5f5;
}

i.bi { margin-left: 5px; }

.imageProfile {
  border-radius: 28px;
  width: 391px;
  float: right;
}

button.is-link:hover i.bi-arrow-right {
  margin-left: 15px;
}

button.is-link i.bi-arrow-left {
  margin-left: 5px;
}

button.is-link:hover i.bi-arrow-left {
  margin-left: 15px;
}